.register {
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: -webkit-center;
}

.register-form {
  display: grid;
  width: 80%;
  justify-content: center;
  height: 100%;
  padding: 10px;
  max-height: 250px;
  background-color: #dcdcdc;
  border-radius: 5px;
  margin: 0 0 10px;
}

.register-form input {
  border-radius: 5px;
  padding: 10px;
  border: 0;
  margin: 0 0 10px;
}

.register-form input::placeholder {
  font-weight: bold;
  color: #333;
}

.register-form span {
  color: #f64c75;
  align-self: flex-start;
  margin: 0 0 10px;
  font-weight: bold;
}

.register-form button {
  margin: 5px 0 0;
  height: 44px;
  font-weight: bold;
  border: 0;
  font-size: 16px;
  color: #f0f0f0;
  background-color: #3b09ff;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.2s;
}

.register-form button:hover {
  background-color: #3b15ff;
}
